@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --Opensan: "Open Sans", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --font-xxxxl: 64px;
  --font-xxxl: 47px;
  --font-xxl: 32px;
  --font-xl: 24px;
  --font-lg: 22px;
  --font-sm: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

body {
  font-family: var(--Opensan);
  color: #363636;
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
}

.secondary-container {
  padding: 0 80px;
}

.btn {
  display: block;
  background-color: #00376e;
  color: #fff !important;
  padding: 16px 56px;
  border: none;
  border-radius: 38px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2d5a8b;
}

/* header */

.menu-btn {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

header .row {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.nav_list + .nav_list {
  margin-left: 60px;
}

.nav .nav_list {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_link {
  position: relative;
  font-size: 18px;
  color: #363636;
  text-transform: uppercase;
  font-family: var(--Opensan);
  font-weight: 600;
  cursor: pointer;
  /* transition: all 2s ease-in-out; */
}

.nav_link:not(.nav_btn) {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav .nav_link.nav_btn {
  font-size: var(--font-sm);
  color: #fff;
  border-radius: 0;
  transition: all 250ms ease-in-out;
}

.nav_link:not(.nav_btn)::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: hsl(196, 18%, 55%);
  position: absolute;
  opacity: 0;
  bottom: 15px;
  transition: all 250ms ease-in-out;
}

/* active classes */

.nav_link.nav_btn.active,
.nav_link.nav_btn:hover {
  transform: scale(1.1);
}

.nav_link:not(.nav_btn, .active):hover::after,
.nav_link:not(.nav_btn).active::after {
  bottom: 0;
  opacity: 1;
}

/* hero section */

.hero {
  background-color: #27bdf3;
  padding: 200px 0px 100px 0px;
  text-align: center;
}

.hero_content {
  position: relative;
}

.hero_content-header {
  color: #363636;
  font-weight: 600;
  font-size: var(--font-xxxl);
}

.hero .hero_content-big {
  font-size: 117px;
  color: #363636;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  line-height: 1.1;
  padding-bottom: 20px;
}

.hero .hero_content-big > span {
  color: #fff;
}

.hero_content p,
.secondary-hero_desc {
  font-size: var(--font-xl);
  margin-top: 45px;
  width: 50%;
  margin: 45px auto 0px auto;
  font-weight: 600;
}

.hero_content .diamond {
  color: #fff;
  font-size: 50px;
  margin-top: 90px;
}

.hero_content-secondary {
  margin-top: 169px;
  text-align: left;
  position: relative;
}

.hero_content-secondary-title {
  font-size: var(--font-xxxl);
  font-weight: 700;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
}

.hero_content-secondary p {
  margin-top: 30px;
  font-size: var(--font-xl);
  font-weight: 600;
}

/* PREVIOUS CLIENTS  */

.previous-clients {
  margin-top: 40px;
}

/* the slides */
.slick-track {
  display: flex;
  flex-shrink: 0;
}

/* .slick-slide {
  margin-right: 20px;
} */

.previous-clients__logo {
  height: 200px;
}

.previous-clients__logo {
  display: block;
}

/* slider btn */
.slider__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.slider__btn {
  cursor: pointer;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #27bdf3;
  font-weight: 400;
  font-size: 25px;
}

/* secondary hero section */
.secondary-hero {
  padding-bottom: 0 !important;
}

.secondary-hero .hero_content {
  padding-bottom: 230px;
}

.secondary-hero .hero_content-big {
  margin-top: 32px;
}

.secondary-hero_img {
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translate(-50%, -50%);
}

.hero_content p {
  margin-top: 32px;
}

/* project hero */

.hero_content.project-hero p {
  width: 70%;
}

.project-hero .diamond {
  margin-top: 196px;
}

/* contact us hero */
.contact-us-hero {
  margin-bottom: 600px;
}

/*about us hero*/
.about-us .hero_content p {
  width: 70%;
  line-height: 1.6;
}

/* meet us */
.meet-us {
  margin-block: 400px;
}

.meet-us__card {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.meet-us__title {
  color: #363636;
  font-size: var(--font-xxxl);
  font-weight: 700;
  text-align: center;
  color: #27bdf3;
  margin-top: 30px;
}

.meet-us__desc {
  padding: 20px 30px 60px 30px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
}

.meet-us__img {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}

/* activities */
.activities {
  border-left: 1px solid rgb(189, 188, 188);
  border-right: 1px solid rgb(189, 188, 188);
  padding: 0px 30px 0px 48px;
  max-width: 300px;
}

.activiies_icon {
  color: #2b2e34;
  font-size: 65px;
}

.activities .number {
  color: #3ab5e5;
  font-weight: 700;
  font-family: var(--Montserrat);
  font-size: 80px;
  margin-top: 3px;
}

.activities p {
  color: #2b2e34;
  font-weight: 400;
  font-size: var(--font-xl);
}

.monthly-user {
  margin-top: 73px;
}

/* graph */

.graph p {
  font-weight: 400;
  color: #363636;
  padding-left: 30px;
  width: 80%;
}

.graph .pie-chart {
  margin-top: 60px;
}

/* the success project */

.Success-project {
  margin-top: 100px;
}

.success-project_title {
  font-weight: 700;
  font-size: var(--font-xxxl);
  color: #363636;
}

.success-project_lists {
  margin-top: 48px;
  border-left: 1px solid black;
  padding-left: 20px;
}

.success-project_lists li {
  font-size: var(--font-lg);
  color: #42454a;
  font-family: var(--Montserrat);
}

.success-project_lists li + li {
  margin-top: 14.5px;
}

.success-project_lists li > span:first-child {
  width: 240px;
  display: inline-block;
}

.success-project_lists li > span:last-child {
  display: inline-block;
  font-weight: 700;
}

/* the-challenge-container */

.the-challenge-container {
  margin-top: 39.33px;
  background-color: #00376e;
  color: #fff;
  padding: 70px 0px 70px 0px;
}

.the-challenge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.the-challenge_content {
  width: 40%;
}

.the-challenge_title {
  font-weight: 700;
  font-family: var(--Montserrat);
  font-size: 29px;
}

.the-challenge_content p {
  font-size: var(--font-xl);
  margin-top: 29px;
}

.the-challenge-container .container {
  position: relative;
}

.challenge-images {
  width: 50%;
  height: 200px;
  position: relative;
}

.challenge-images .blur-image {
  border-radius: 33px;
  width: 44.1%;
  height: 15.4vw;
  max-height: 345px;
  background-color: #efeef3;
  position: absolute;
  left: 28%;
  top: 40%;
}

.challenge-images img {
  position: absolute;
}

.the-challenge-photo-one {
  bottom: 32%;
  right: -7%;
  width: 53%;
}

.the-challenge-photo-two {
  top: 79%;
  right: 9%;
  width: 37.4%;
}

.the-challenge-photo-three {
  top: -15%;
  right: 50%;
  width: 35.9%;
}

/* the result */
.the-result {
  font-family: var(--Montserrat);
  padding-top: 150px;
  padding-bottom: 194px;
}

.the-result h1 {
  font-size: 29px;
  color: #42454a;
  font-weight: 700;
}

.the-result-stats {
  margin-top: 48.3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 27%);
  align-items: center;
  justify-content: start;
  gap: 70px;
}

.the-result-stats .number {
  color: #3ab5e5;
  font-size: 66px;
  font-weight: 700;
  white-space: nowrap;
}

.the-result-stats .underline {
  background-color: black;
  height: 1px;
  width: 100%;
}

.the-result-stats p {
  font-size: var(--font-lg);
  color: #37393f;
  font-weight: 700;
  margin-top: 40px;
}

/* featured project */

.featured-project {
  background-color: #000000;
  padding: 299px 0px;
  color: #fff;
}

.featured-project_title {
  font-size: var(--font-xxxl);
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.feature-project_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-top: 130px;
  gap: 22px;
}

.feature-project_cards .card {
  background-color: #00376e;
  padding: 38px 0px 60px 0px;
  border-radius: 16px;
}

.feature-project_cards .card .category {
  color: #27bdf3;
  font-size: var(--font-xl);
  padding-left: 50px;
}

.feature-project_cards .card .company-name {
  color: #ffffff;
  font-size: var(--font-xxl);
  margin-top: 16px;
  padding-left: 50px;
}

.feature-project_cards .product-image {
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 35px;
  width: 100%;
  height: 280px;
}

.feature-project_cards .row {
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.feature-project_cards .row + .row {
  margin-top: 40px;
}

.feature-project_cards p {
  font-size: var(--font-xl);
  font-weight: 400;
  color: #27bdf3;
}

.feature-project_cards p:first-child {
  width: 63%;
}

.feature-project_cards p > span {
  display: block;
  color: white;
  margin-top: 16px;
}

/* project page */
.featured-project.projects {
  background-color: #ffffff;
  padding: 0px;
  margin-top: 600px;
}

.featured-project.projects .feature-project_cards {
  margin: 0;
}

.featured-project.projects .featured-project_title {
  display: none;
}

/* benefits */
.benefits {
  text-align: center;
  margin-top: 148px;
}

.benefits.services_page {
  margin: 148px auto 200px auto;
}

.benefits-title {
  color: #00376e;
  font-weight: 700;
  font-size: var(--font-xxxl);
}

.benefits-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
  margin-top: 80px;
}

.benefits-card-container .card {
  border-radius: 16px;
  padding: 50px 28px 84px 28px;
}

.benefits-card-container .card:nth-child(1) {
  background-color: #fdf8e3;
}
.benefits-card-container .card:nth-child(2) {
  background-color: #ecf2fc;
}
.benefits-card-container .card:nth-child(3) {
  background-color: #feeff0;
}

.benefits-card-container .card h3 {
  margin-top: 9px;
  color: #2b2b2b;
  font-size: var(--font-xxl);
  font-weight: 700;
}

.benefits-card-container .card p {
  margin-top: 32px;
  color: #2b2b2b;
  font-size: var(--font-xl);
  font-weight: 400;
  line-height: 1.5;
}

/* plan */
.plan {
  padding: 191px 0px 329px 0px;
  background-color: #f0fbff;
  margin-top: 220px;
}

.plan.packages_page {
  margin-top: 0px;
  padding-top: 230px;
}

.plan .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.plan-content {
  width: 30%;
  margin-top: 70px;
}

.plan-content h4 {
  color: #27bdf3;
  font-size: var(--font-xl);
  font-weight: 700;
}

.plan-content h1 {
  color: #363636;
  font-weight: 800;
  font-size: var(--font-xxxxl);
  margin-top: 29px;
}

.plan-content p {
  font-size: var(--font-xl);
  margin-top: 44px;
  font-weight: 500;
  color: #000000;
  width: 90%;
}

/* plan-cards */
.plan-cards {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  align-items: start;
  gap: 13px;
}

.plan-cards .card {
  padding: 80px 38px 26px 38px;
  border-radius: 32px;
}

.plan-cards .card:nth-child(1) {
  background-color: #fdf1a6;
  margin-top: 70px;
}

.plan-cards .card:nth-child(2) {
  background-color: #bfdffc;
  padding-bottom: 36px;
}

.plan-cards .card:nth-child(3) {
  background-color: #c5a9f9;
  margin-top: 70px;
  padding-top: 55px;
}

.plan-cards .card-title {
  text-align: center;
  color: #363636;
  font-weight: 700;
  font-size: 45px;
}

.plan-cards .card-desc {
  margin-top: 40px;
  text-align: center;
  color: #363636;
  font-size: var(--font-xl);
  font-weight: 600;
}

.plan-cards .plan-amount {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
}

.plan-amount span {
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
}

.service {
  margin-top: 72px;
}

.service_list-label {
  margin-bottom: 23px;
}

.service_list-label,
.service_list-title {
  font-size: var(--font-xl);
  font-weight: 600;
  color: #363636;
}

.service_list {
  cursor: pointer;
}

.service_list + .service_list {
  margin-top: 8px;
}

.service_list ul {
  font-size: 22px;
  list-style: disc;
  list-style-position: inside;
  font-weight: 600;
  margin: 8px 0px;
}

.service_list ul > * + * {
  margin-top: 5px;
}

.plan-cards .btn {
  margin-top: 57px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.plan-cards .card:nth-child(3) .btn {
  margin-top: 132px;
}

.plan-cards .card:nth-child(2) .btn {
  margin-top: 100px;
}

/* astonishing result section */

.astonishing-result {
  background-color: #00376e;
  padding: 94px 0px 138px 0px;
  text-align: center;
  color: #fff;
}

.astonishing-result_title {
  font-weight: 700;
  font-size: var(--font-xxxl);
  width: 50%;
  margin: 0 auto;
}

.astonishing-result .row {
  margin-top: 105px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 122px;
}

.astonishing-result .result {
  width: 30%;
}

.astonishing-result .icons {
  width: 129px;
  height: 129px;
  margin: 0 auto;
  background-color: #27bdf3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.astonishing-result .result-header {
  margin-top: 21px;
  font-weight: 700;
  font-size: var(--font-xxl);
}

.astonishing-result .result p {
  margin-top: 8px;
  font-size: var(--font-xl);
  font-weight: 500;
}

/* testimonial */
/* continue working on this big man */
.testimonials {
  padding: 240px 0px 180px 0px;
  text-align: center;
}

.testimonial_title {
  font-size: var(--font-xl);
  color: #27bdf3;
  font-weight: 700;
}

.testimonial_subtitle {
  color: #00376e;
  font-size: var(--font-xxxl);
  margin-top: 26px;
}

.testimonials .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 96px 0px 20px 0px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.testimonials .card {
  flex: 1;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.testimonials .card .testimonial {
  height: 320px;
}

.testimonials .card + .card {
  margin-left: 20px;
}

.card__testimonial-text .fa-quote-left {
  color: #00376e;
  font-size: 3.5rem;
  padding-bottom: 30px;
}

.card__testimonial-text p {
  font-size: var(--font-lg);
  font-weight: 600;
  text-align: center;
}

.card__testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px 40px 10px;
}

.testimonials .testimonial video {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.testimonials .testimonial video,
.testimonials .card__testimonial-text {
  width: 100%;
  height: 100%;
}

.testimonials .client-info {
  background-color: #00376e;
  display: flex;
  align-items: start;
  padding: 39px 30px 39px 43px;
  text-align: left;
  font-size: var(--font-xl);
  color: #fff;
  gap: 30px;
}

.testimonials .profile {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
}

.testimonials .client-name {
  font-weight: 700;
}

.testimonials .business-name {
  font-weight: 500;
  margin-top: 5px;
}

/* contact-us */
.contact-us {
  background-color: #f0fbff;
  padding: 150px 0px;
}

.contact-us .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-us_content {
  width: 45%;
}

.contact-us_content h2 {
  color: #27bdf3;
  font-weight: 700;
  font-size: var(--font-xl);
}

.contact-us_content h1 {
  color: #27bdf3;
  font-weight: 800;
  font-size: var(--font-xxxxl);
  color: #363636;
  margin-top: 29px;
}

.contact-us_content p {
  color: #000000;
  font-weight: 500;
  font-size: var(--font-xl);
  margin-top: 29px;
  width: 60%;
}

/* form */
.contact-us form {
  width: 50%;
}

.contact-us input,
.contact-us textarea {
  background-color: #dfdde7;
  border: none;
  display: inline-block;
  padding: 22px 33px;
  transition: border-color 0.3s ease;
}
input:focus,
textarea:focus {
  outline: none; /* Remove the default outline */

  border: 1px solid rgba(0, 0, 0, 0.3); /* Change border color to a green shade */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a glowing effect */
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: #888888;
  font-size: var(--font-xl);
  font-style: italic;
  font-weight: 500;
}

.text-inputs {
  display: flex;
  align-items: center;
}

.contact-us__input,
.contact-us__textarea {
  width: 100%;
  position: relative;
}

.contact-us__input + .contact-us__input {
  margin-left: 15px;
}

.text-inputs input {
  width: 100%;
  border-radius: 20px;
  height: 76px;
}

.contact-us textarea {
  margin-top: 21px;
  border-radius: 16px;
  width: 100%;
  min-height: 267px;
}

.contact-us .btn {
  display: inline-block;
}

.contact-us-status-message {
  font-weight: 600;
  color: green;
  line-height: 2;
}

.contact-us-status-message[aria-invalid="false"] {
  font-weight: 600;
  color: red;
}

.contact-form__btn-container {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-us__errmsg {
  color: red;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  bottom: -20px;
  right: 0;
  display: block;
}

.contact-us__input input[aria-invalid="true"],
.contact-us__textarea textarea[aria-invalid="true"] {
  border: 1px solid red;
}

/* footer */
.footer {
  background-color: #000000;
  padding: 90px 0px 61px 0px;
  color: #ffffff;
}

.footer-logo {
  width: 15%;
}

.footer .row {
  display: grid;
  align-items: start;
  grid-template-columns: 30% auto;
  margin-top: 6px;
  gap: 80px;
}

.footer_contact-us {
  margin-top: 40px;
}

.footer_contact-us p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.footer-social-icon a {
  color: white;
  cursor: pointer;
  font-size: 35px;
}

.footer-social-icon a:hover {
  color: #27bdf3;
}

.footer-social-icon > * + * {
  margin-left: 30px;
}

.footer-links .title {
  margin-bottom: 23px;
  font-weight: 700;
  margin-top: 0;
  color: #27bdf3;
}

.footer-links li {
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  color: #acacac;
  font-size: var(--font-sm);
  font-weight: 500;
  margin-top: 86px;
}

/* project overview */

.overview-hero {
  min-height: 100vh;
  background-image: url("./img/ywiit.png");
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header.project-overview {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

header.project-overview .nav_link {
  color: #fff;
}

.overview-hero .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}

.overview-hero .project-name {
  font-size: 117px;
  font-weight: 800;
  color: #fff;
  line-height: 1.1;
}

.overview-hero .dropdown-icon {
  color: #fff;
  font-size: 6rem;
}

/* about-project */

.about-project {
  background-color: #fbfbfb;
  position: relative;
}

.about-project_content .left {
  width: 50%;
  padding-top: 173px;
}

.about-project_content .left h1 {
  font-size: var(--font-xxxl);
  color: #000000;
  font-weight: 700;
}

.about-project_content .left p {
  color: #000000;
  font-size: var(--font-xl);
  font-weight: 500;
  margin-top: 11px;
  width: 70%;
}

.about-project_content .right {
  background-color: #27bdf3;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 189px 40px 188px 107px;
}

.about-project_content .right span:last-child {
  white-space: nowrap;
}

.about-project_content .right ul {
  border-left: 8px solid #fff;
  padding-left: 20px;
}

.about-project_content .right ul li {
  font-size: var(--font-xxl);
  font-weight: 800;
}

.about-project_content .right ul li > span:first-child {
  font-weight: 600;
  display: inline-block;
  max-width: 270px;
  width: 100%;
}

.about-project_content .right ul li + li {
  margin-top: 28px;
}

/* project gallery */
.about-project .project-gallery {
  margin-top: 293px;
}

.project-gallery .project-asset {
  display: block;
  background-color: #a0a0a0;
  width: 100%;
}

.project-asset + .project-asset {
  margin-top: 40px;
}

/* enquiry */
.about-project .enquiry {
  text-align: center;
  padding: 300px 0px;
  color: #000000;
}

.about-project .enquiry h1 {
  font-size: var(--font-xxxl);
  font-weight: 700;
}

.about-project .enquiry p {
  margin-top: 55px;
  font-size: var(--font-xl);
  font-weight: 500;
  width: 55%;
  margin-inline: auto;
}

.about-project .enquiry-btn {
  display: inline-block;
  margin-top: 59px;
  font-size: var(--font-xxl);
  font-weight: 700;
  background-color: #27bdf3;
  color: inherit;
  padding: 0.8em 1.5em;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.about-project .enquiry-btn:hover,
.about-project .enquiry-btn:active {
  transform: scale(0.9);
}

/* next project */
.next-project {
  display: flex;
}

.next-project_img {
  position: relative;
  flex: 4;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.next-project_img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.next-project_img .project-details {
  color: #fff;
  text-align: right;
  padding: 0px 77px 65px 0px;
  z-index: 1;
}

.next-project_img .project-name {
  font-weight: 700;
  font-size: var(--font-xxxl);
}

.next-project_img .client-name {
  font-weight: 500;
  font-size: var(--font-xl);
}

.next-project_button {
  background-color: #27bdf3;
  display: flex;
  flex: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: flex 400ms ease-in-out;
  cursor: pointer;
}

.next-project:hover .next-project_button {
  flex: 1;
}

.next-project_button .next-project_button_icon {
  color: #000000;
  font-size: 125px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  /*make services responsives */
  :root {
    --Opensan: "Open Sans", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --font-xxxxl: 50px;
    --font-xxxl: 47px;
    --font-xxl: 32px;
    --font-xl: 20px;
    --font-lg: 18px;
    --font-sm: 16px;
  }

  .secondary-container {
    padding: 0 60px;
  }

  .btn {
    padding: 15px 30px;
  }

  /* header */

  header .row {
    padding: 15px 0px;
  }

  .nav .nav_list + .nav_list {
    margin-left: 50px;
  }

  .nav_link,
  .nav .nav_btn .nav_link {
    font-size: 16px;
  }

  /* hero */
  .hero {
    padding: 160px 0px 100px 0px;
  }

  .hero .hero_content-big {
    font-size: 70px;
  }

  /* .hero_content-secondary */
  .hero_content-secondary {
    margin-top: 150px;
  }

  /* secondary hero section */

  .secondary-hero .diamond {
    margin-top: 90px;
  }

  .secondary-hero_img {
    width: 80%;
  }

  /* project hero */
  .hero_content.project-hero p {
    width: 80%;
  }

  /* contact us hero */
  .contact-us-hero {
    margin-bottom: 400px;
  }

  /*about us hero*/
  .hero_content.about-us p {
    width: 90%;
  }

  /*  app-development section */

  .the-challenge-container {
    padding: 30px 0px 30px 0px;
  }

  .challenge-images {
    width: 50%;
  }

  /* the result */
  .the-result {
    padding: 100px 0px 200px 0px;
  }

  .the-result-stats .number {
    font-size: 50px;
  }

  /*  feature-project_cards */
  .featured-project {
    background-color: #000000;
    padding: 100px 0px;
    color: #fff;
  }

  .feature-project_cards .card {
    padding: 20px 0px 40px 0px;
  }

  .feature-project_cards .card .category {
    padding-left: 25px;
  }

  .feature-project_cards .card .company-name {
    padding-left: 25px;
  }

  .feature-project_cards .row {
    padding: 0px 25px;
  }

  .feature-project_cards .row + .row {
    margin-top: 20px;
  }

  .feature-project_cards .product-image {
    margin-bottom: 15px;
  }

  /* project page */
  .featured-project.projects {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 400px;
  }

  /* plan */
  .plan {
    padding: 130px 0px 200px 0px;
    background-color: #f0fbff;
    margin-top: 220px;
  }

  .plan.packages_page {
    padding-top: 180px;
  }

  .plan-year > li {
    font-size: 33px;
  }

  .plan-content h1 {
    color: #363636;
    font-weight: 800;
    margin-top: 29px;
    font-size: 40px;
  }

  .plan-cards .card {
    padding: 40px 20px 26px 20px;
  }

  .plan-cards .card-title {
    font-size: 30px;
  }

  .plan-cards .card-desc {
    margin-top: 20px;
  }

  .plan-cards .plan-amount {
    font-size: 30px;
    margin-top: 20px;
  }

  .plan-amount span {
    font-size: 25px;
  }

  .plan-cards .btn {
    font-size: 16px;
  }

  .service {
    margin-top: 40px;
  }

  .service_list ul {
    font-size: 20px;
  }

  .plan-cards .card:nth-child(3) .btn {
    margin-top: 60px;
  }

  /* astonishing result */

  .astonishing-result {
    background-color: #00376e;
    padding: 94px 0px 110px 0px;
    text-align: center;
    color: #fff;
  }

  .astonishing-result .row {
    gap: 60px;
  }

  .astonishing-result_title {
    font-weight: 700;
    font-size: 38px;
    width: 60%;
  }

  .astonishing-result .icons {
    width: 100px;
    height: 100px;
  }

  .astonishing-result .result {
    width: 40%;
  }

  /* testimonial */
  .testimonials {
    padding: 140px 0px 180px 0px;
    text-align: center;
  }

  .testimonials .card .testimonial {
    height: 300px;
  }

  .testimonials .profile {
    height: 70px;
    width: 70px;
  }

  .testimonials .client-info {
    padding: 29px 20px 29px 23px;
  }

  /* meet us */
  .meet-us {
    margin-bottom: 200px;
  }

  .team.stepdown {
    margin-bottom: 70px;
  }

  /* project overview */

  .overview-hero .row {
    padding-bottom: 20px;
  }

  .overview-hero .project-name {
    font-size: 64px;
  }

  .about-project_content .left {
    padding-top: 150px;
  }

  .about-project_content .right {
    padding: 150px 40px 150px 50px;
  }

  .about-project_content .right ul li > span:first-child {
    display: block;
  }

  .project-gallery .project-asset {
    max-height: 500px;
  }

  .about-project .enquiry {
    padding: 200px 0px;
  }

  .next-project_img {
    min-height: 350px;
  }

  /* footer */
}

@media (max-width: 1200px) {
  :root {
    --Opensan: "Open Sans", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --font-xxxxl: 50px;
    --font-xxxl: 47px;
    --font-xxl: 28px;
    --font-xl: 18px;
    --font-lg: 16px;
    --font-sm: 16px;
  }

  .secondary-container {
    padding: 0 60px;
  }

  .nav .nav_list + .nav_list {
    margin-left: 35px;
  }

  .nav_link,
  .nav .nav_btn .nav_link,
  .btn {
    font-size: 15px;
  }

  /* hero */
  .hero .hero_content-big {
    font-size: 64px;
  }

  /* secondary hero */

  .secondary-hero .hero_content {
    padding-bottom: 150px;
  }

  .hero_content.project-hero p {
    width: 80%;
  }

  /* contact us hero */
  .contact-us-hero {
    margin-bottom: 300px;
  }

  /* meet us */
  .meet-us {
    margin-bottom: 200px;
    margin-top: 300px;
  }

  /* app development */
  .app-development_desc {
    width: 95%;
  }

  .activities .number {
    font-size: 50px;
  }

  /* graph */
  .graph p {
    width: 100%;
  }

  .the-challenge_content {
    width: 50%;
  }

  /* result */
  .the-result {
    font-family: var(--Montserrat);
    padding-top: 88px;
    padding-bottom: 194px;
  }

  /* feature project cards */
  .feature-project_cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* project page */
  .featured-project.projects {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 250px;
  }

  /* benefits */
  .benefits-card-container {
    margin-top: 70px;
  }

  /* plan */
  .plan .row {
    display: block;
  }

  .plan-content {
    width: 80%;
    margin-top: 0;
  }

  .plan-content h1 {
    font-size: 50px;
    margin-top: 23px;
  }

  .plan-content p {
    margin-top: 23px;
  }

  .plan-cards {
    grid-template-columns: repeat(auto-fill, minmax(230px, 350px));
    margin-top: 80px;
    width: 100%;
    margin-left: auto;
    justify-content: center;
    gap: 30px;
  }

  .plan-cards .card {
    margin: 0px !important;
    padding: 40px 20px 26px !important;
  }

  .plan-cards .card .btn {
    margin-top: 50px !important;
  }
  /* astonishing-result  */
  .astonishing-result .row {
    flex-wrap: wrap;
  }

  .astonishing-result .result {
    width: 45%;
  }

  .astonishing-result_title {
    width: 70%;
  }

  /* testimonials */

  .testimonials .card {
    min-width: 320px;
  }

  .testimonials .profile {
    height: 80px;
    width: 80px;
  }

  /* contact us */
  .contact-us form {
    width: 55%;
  }

  /* footer */
  .footer-logo {
    width: 18%;
  }

  .footer .row {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 6px;
    justify-content: start;
    gap: 40px;
  }

  /* project overview */
  .about-project_content .left,
  .about-project_content .right {
    padding-top: 130px;
  }

  .about-project_content .right {
    padding-bottom: 130px;
  }
}

/* tablet */
@media (max-width: 1000px) {
  :root {
    --Opensan: "Open Sans", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --font-xxxxl: 50px;
    --font-xxxl: 32px;
    --font-xxl: 28px;
    --font-xl: 18px;
    --font-lg: 16px;
    --font-sm: 16px;
  }

  .secondary-container {
    padding: 0 15px;
  }

  .menu-btn {
    display: block;
  }

  /* navigation */
  .navbar_expand {
    flex-wrap: wrap;
  }

  .nav {
    display: none;
    width: 100%;
    padding: 20px 0px 10px 0px;
    position: relative;
  }

  .nav_link:not(.nav_btn)::after {
    display: none;
  }

  .nav_link.active {
    color: #27bdf3;
  }

  .nav_link.nav_btn.active {
    border: 0;
    transform: scale(1.1);
  }

  /* show  hidden nav item */
  .nav.show {
    display: block;
  }

  .nav_list {
    padding: 10px 15px;
  }

  .nav_link,
  .nav_btn .nav_link {
    font-size: 14px !important;
  }

  .nav_btn {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    margin: 40px auto 0px auto;
  }

  .nav .nav_list + .nav_list {
    margin-left: 0px;
  }

  /* hero */

  .hero_content .diamond {
    margin-top: 50px;
  }

  .hero_content-secondary {
    margin-top: 114px;
  }

  .hero .hero_content-big {
    width: 100%;
  }

  .hero_content p {
    width: 80%;
  }

  .hero {
    padding: 150px 0px 100px 0px;
  }

  /* secondary hero section */

  .secondary-hero_img {
    width: 100%;
  }

  .slider__btns {
    justify-content: flex-end;
    gap: 100px;
  }

  /* success */

  .the-challenge {
    display: block;
  }

  .the-challenge-container {
    padding-bottom: 120px;
  }

  .the-challenge_content {
    width: 90%;
  }

  .challenge-images {
    width: 85%;
    top: 170px;
    height: 20vw;
  }

  .challenge-images .blur-image {
    height: 29vw;
    top: 27%;
  }

  .the-challenge-photo-one {
    top: -80%;
    right: -7%;
  }

  .the-challenge-photo-two {
    top: 73%;
  }

  .the-challenge-photo-three {
    top: 0%;
  }

  /* the result */

  .the-result {
    font-family: var(--Montserrat);
    padding-top: 250px;
    padding-bottom: 194px;
  }

  .the-result-stats {
    margin-top: 48.3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    align-items: center;
    justify-content: start;
  }

  .feature-project_cards .card {
    max-width: 400px;
    margin-inline: auto;
    width: 100%;
  }

  .the-result-stats .number {
    font-size: 40px;
  }

  /* benefits */

  .benefits.services_page {
    margin: 160px auto 150px auto;
  }

  .benefits-card-container {
    justify-items: center;
  }

  .benefits-card-container .card {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
  }

  /* astonishing */
  .astonishing-result_title {
    width: 90%;
  }

  /* testimonial */
  .testimonials .card .testimonial {
    height: 320px;
  }

  .testimonials .profile {
    background-color: white;
    height: 56px;
    width: 56px;
  }

  .testimonials .client-info {
    padding: 20px 35px 23px 35px;
  }

  /* plan */
  .plan-content {
    width: 80%;
    margin-top: 0;
  }

  /* contact us */
  .contact-us .row {
    gap: 20px;
  }

  .contact-us .text-inputs {
    display: block;
  }

  .contact-us__input + .contact-us__input {
    margin-left: 0px;
    margin-top: 21px;
  }

  .contact-us_content {
    width: 100%;
  }

  .contact-us_content p {
    width: 100%;
  }
  .contact-us form {
    width: 100%;
  }

  .contact-us__errmsg {
    position: relative;
    bottom: 0;
    text-align: right;
  }

  /* about us page */

  .meet-us__title {
    margin: 0px;
  }

  .meet-us__desc {
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
  }

  .meet-us__card {
    grid-template-columns: 1fr;
    padding: 40px 20px 60px 20px;
  }

  .meet-us__img {
    height: auto;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    margin-top: 30px;
  }

  /* project overview */

  header.project-overview {
    background: #fff;
    position: fixed;
  }

  header.project-overview .nav_link {
    color: #363636;
  }

  .about-project_content .left {
    width: 65%;
  }

  .about-project .project-gallery {
    margin-top: 260px;
  }

  .about-project_content .right ul li {
    font-size: 22px;
    font-weight: 800;
  }

  .about-project_content .right ul li + li {
    margin-top: 15px;
  }

  .about-project .enquiry p {
    width: 90%;
  }

  /* overview-heros */
  .overview-hero {
    min-height: 90vh;
    background-image: url("./img/ywiit.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* footer */
  .footer-logo {
    width: 20%;
  }
}

@media (max-width: 650px) {
  :root {
    --Opensan: "Open Sans", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --font-xxxxl: 32px;
    --font-xxxl: 24px;
    --font-xxl: 28px;
    --font-xl: 16px;
    --font-lg: 16px;
    --font-sm: 16px;
  }

  .secondary-container {
    padding: 0px;
  }

  .container {
    width: 90%;
  }

  .btn {
    font-size: 16px;
    padding: 15px;
  }

  .nav_btn {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin: 30px auto 0px auto;
  }

  /* navigation */

  header .logo {
    width: 100px;
  }

  .navbar_expand {
    flex-wrap: wrap;
  }

  /* show  hidden nav item */
  .nav.show {
    display: block;
  }

  /* hero */

  .hero {
    padding: 115px 0px 100px 0px;
  }

  .slider__btns {
    justify-content: center;
  }

  .hero-content {
    position: relative;
  }
  .hero_content-header {
    font-size: 16px;
  }

  .hero .hero_content-big {
    margin-top: 16px;
    width: 100%;
    font-size: 46px;
  }

  .hero_content p {
    margin: 51px auto 0px auto;
    width: 100%;
  }

  .hero_content .diamond {
    margin-top: 50px;
  }

  /*  secondary title*/
  .hero_content-secondary-title {
    width: 100%;
    font-size: 16px;
  }

  .hero_content-secondary p {
    margin-top: 9px;
  }

  .hero-mobile-img {
    overflow-x: auto;
    top: 150px;
  }

  .hero-mobile-img img {
    width: 600px;
    max-width: revert;
  }

  /* secondary hero section */
  .secondary-hero .hero_content {
    padding-bottom: 100px;
  }

  .hero_content.project-hero p {
    width: 100%;
  }

  /* contact us hero */
  .contact-us-hero {
    margin-bottom: 250px;
  }

  /* success */
  .Success-project {
    margin-top: 50px;
  }
  .success-project_title {
    font-size: 16px;
  }
  .success-project_lists {
    margin-top: 14px;
  }

  .success-project_lists li > span:first-child {
    width: 140px;
    display: inline-block;
  }

  /* the chanllege */
  .the-challenge_title {
    font-size: 16px;
  }

  .challenge-images {
    width: 100%;
    top: 100px;
    height: 20vw;
  }

  .challenge-images .blur-image {
    height: 35vw;
    width: 36.4%;
    top: 50%;
    min-height: 100px;
    min-width: 110px;
    left: 22%;
  }

  .the-challenge-photo-one {
    top: -80%;
    right: 6%;
  }

  .the-challenge-photo-three {
    top: 20%;
    left: 0;
  }

  .the-challenge-photo-two {
    top: 120%;
    right: 22%;
  }

  /* result */
  .the-result {
    font-family: var(--Montserrat);
    padding-top: 200px;
    padding-bottom: 84px;
  }

  .the-result h1 {
    font-size: 16px;
  }

  .the-result-stats .number {
    font-size: 40px;
  }

  .the-result-stats {
    margin-top: 16.3px;
    align-items: start;
    gap: 40px;
  }

  .the-result-stats p {
    margin-top: 4px;
  }

  /* feature */
  .featured-project {
    padding: 39px 0px;
  }

  .feature-project_cards {
    margin-top: 27px;
    gap: 22px;
    justify-items: stretch;
    justify-content: center;
  }

  /* benefits */
  .benefits.services_page {
    margin: 130px auto;
  }

  .benefits {
    text-align: center;
    margin-top: 50px;
  }

  .benefits-card-container {
    margin-top: 41px;
    justify-items: stretch;
    justify-content: center;
  }

  /* plans */
  .plan.packages_page {
    padding: 140px 0px;
  }

  .plan-content {
    width: 100%;
    margin-top: 0;
  }

  .plan-content h1 {
    width: 90%;
    font-size: 40px;
  }

  .plan {
    padding: 0px 0px 59px 0px;
    background-color: #fff;
    margin-top: 86px;
  }

  .plan-cards {
    width: 100%;
    display: grid;
    padding: 0px;
    align-items: stretch;
    margin-top: 60px;
  }

  .service_list-label,
  .service_list-title {
    font-size: 20px;
    font-weight: 600;
    color: #363636;
  }

  .service_list ul {
    font-size: 18px;
  }

  .plan-cards .card {
    padding: 40px 15px 26px;
  }

  /* astonishing */
  .astonishing-result_title {
    font-size: var(--font-xxxl);
    width: 100%;
  }

  .astonishing-result .icons {
    width: 88px;
    height: 88px;
  }

  .astonishing-result .result {
    width: 70%;
  }

  .astonishing-result .row {
    margin-top: 85px;
  }

  /* testimonial */
  .testimonials {
    padding: 108px 0px 33px 0px;
    text-align: center;
  }

  .testimonials .card .testimonial {
    height: 270px;
  }

  .card__testimonial-text .fa-quote-left {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .card__testimonial-text {
    padding: 10px 10px 25px 10px;
  }
  /* footer */
  .contact-us .row {
    display: block;
  }

  .contact-us {
    background-color: #f0fbff;
    padding: 88px 0px;
  }

  .contact-us_content p {
    width: 90%;
  }

  .contact-us form {
    width: 100%;
    margin-top: 24px;
  }

  .contact-us__input + .contact-us__input {
    margin-top: 8px;
  }

  .contact-us textarea {
    margin-top: 8px;
  }

  .contact-us .btn {
    padding: 13px 32px;
  }

  /* footter */
  .footer {
    background-color: #000000;
    padding: 33px 0px 33px 0px;
    color: #ffffff;
  }

  .footer_contact-us {
    margin-top: 16px;
  }

  .footer-logo {
    width: 26%;
  }

  .footer_contact-us p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }

  .footer-social-icon {
    margin-top: 20px;
  }

  .footer-social-icon a {
    font-size: 25px;
  }

  .footer .row {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6px;
    justify-content: start;
    gap: 40px;
  }

  .footer-links li {
    font-size: 16px;
  }

  .footer_contact-us,
  .footer-links:nth-of-type(1) {
    grid-column: 1/3;
  }

  .copyright {
    margin-top: 69px;
  }

  /* about us */
  .meet-us {
    margin-top: 200px;
    margin-bottom: 150px;
  }

  .meet-us__desc {
    padding: 20px 30px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
  }

  .meet-us__card {
    grid-template-columns: 1fr;
    padding: 40px 0px 0px 0px;
  }

  .meet-us__img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }

  /* project overview */

  .about-project_content .left {
    width: 100%;
    padding-top: 100px;
    text-align: center;
  }

  .about-project_content .left p {
    color: #000000;
    font-size: var(--font-xl);
    font-weight: 500;
    margin-top: 11px;
    width: 100%;
  }

  .about-project_content .right {
    position: relative;
    /* background-color: #27bdf3; */
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    padding: 50px 10px 50px 20px;
    margin-top: 40px;
  }

  .about-project_content .right ul {
    border-left: 4px solid #fff;
    padding-left: 10px;
  }

  .about-project_content .right ul li > span:first-child {
    font-weight: 600;
    display: inline-block;
    max-width: 190px;
    width: 100%;
  }

  .about-project .project-gallery {
    margin-top: 80px;
  }

  .about-project .enquiry {
    padding: 100px 0px;
  }

  .about-project .enquiry-btn {
    font-size: 18px;
    margin-top: 30px;
  }
  .about-project .enquiry p {
    margin-top: 30px;
  }

  .next-project_img {
    min-height: 200px;
  }
  .next-project_img .project-details {
    padding: 0px 40px 30px 0px;
  }

  .next-project_button .next-project_button_icon {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .slider__btns {
    gap: 100px;
  }

  .hero .hero_content-big {
    font-size: 30px;
  }

  /* secondary hero section */

  .secondary-hero .hero_content {
    padding-bottom: 60px;
  }

  /* contact us hero */
  .contact-us-hero {
    margin-bottom: 180px;
  }

  .activities {
    padding: 0px;
  }

  .graph {
    grid-column: 1;
  }

  /* the result */
  .the-result-stats {
    margin-top: 16.3px;
    grid-template-columns: auto;
  }

  .the-result {
    padding-top: 150px;
  }

  /* project page */
  .featured-project.projects {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 180px;
  }

  /* benefits */

  .benefits.services_page {
    margin: 120px auto;
  }

  /* plan */
  .plan.packages_page {
    padding-top: 120px;
  }

  .plan-content h1 {
    width: 100%;
    font-size: 28px;
  }

  .plan-content p,
  .plan-content h1 {
    margin-top: 20px;
  }

  .plan-cards {
    grid-template-columns: 1fr;
  }

  .plan-cards .card-title,
  .plan-cards .plan-amount {
    font-size: 27px;
  }

  .plan-cards .plan-amount,
  .plan-cards .card-desc {
    margin-top: 20px;
  }

  .plan-amount span {
    font-size: 25px;
  }

  .plan-cards .service {
    margin-top: 40px;
  }

  .plan-cards .card:nth-child(3) {
    grid-column: 1/2;
  }

  .plan-cards .card:nth-child(1) {
    background-color: #fdf1a6;
    margin-top: 0px;
  }

  /* about us */

  .meet-us__desc {
    padding: 15px;
  }

  .meet-us__card {
    padding: 30px 0px 0px 0px;
  }

  /* testimonial */
  .testimonials .card {
    min-width: 300px;
  }
  /* overview-hero */

  .overview-hero .project-name {
    font-size: 40px;
  }

  .overview-hero .dropdown-icon {
    font-size: 3rem;
  }

  .project-asset + .project-asset {
    margin-top: 20px;
  }

  .next-project_button .next-project_button_icon {
    font-size: 40px;
  }

  .about-project_content .right ul li {
    font-size: 20px;
    font-weight: 800;
  }

  .about-project_content .right ul li > span:first-child {
    max-width: 170px;
    width: 100%;
  }

  .about-project_content .right ul li > span:last-child {
    display: block;
  }

  /* footer */
  .footer-logo {
    width: 35%;
  }
}
