@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.title {
  margin-bottom: 5px;
}

.sm-title {
  font-weight: 600;
}

.success-page {
  background-color: #27bdf3;
  padding: 20px 0px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-page__content {
  max-width: 600px;
  width: 90%;
  background-color: white;
  padding: 20px 20px 40px 20px;
  border-radius: 15px;
}

.success-page__content > * + * {
  margin-top: 8px;
}

.success-page__title {
  text-align: center;
  font-size: 1.3rem;
  color: #363636;
}

.success-page__desc {
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
}

.success-page__desc--contact {
  color: #007bff;
  cursor: pointer;
}

.success-page__desc > * + * {
  margin-top: 10px;
}

.success-page__btn {
  text-align: center;
  margin-top: 30px;
  font-weight: 800;
}

@media (max-width: 500px) {
  .success-page__content {
    padding: 16px;
  }

  .success-page__desc--contact {
    word-break: break-all;
  }
}
